<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>salom sahifasi</title>
    <link rel="stylesheet" type="text/css" href="{% static '/semantic-ui/semantic.min.css' %}">

</head>
<body>
    <div class="ui header segment" >
        <div class="ui container">
            <h1 class="ui header">Online Lug'at</h1>
            <div class="ui divider"></div>
            <p>tezlik, qulay ,tarjimon</p>
        </div>
    </div>

    <div class="ui container">
        <div class="ui placeholder segment">
            <div class="ui icon header">
                Ingilizcha - O'zbekcha, O'zbekcha - Ingilizcha 
            </div>
            <div class="inline" style="width:90%;">
                <div class="ui massive form search">
                    <form method="GET"  action="/" class="ui icon input" style="width: 100%;">
                        <input name="q" value="{{q}}" type="prompt" type="text" placeholder="So'zni jiriting...">
                        <i class="search link icon" ></i>
                    </form>
                </div>
            </div>
        </div>
    <div class="ui piled segment">
        <h4 class="ui header" >Natija</h4>
        <table class="ui table">
            <thead>
                <tr>
                    <th><i class="united kingdom flag"></i>
                        Ingilizcha
                    </th>
                    <th><i class="uzbekistan flag"></i>
                        O'zbekcha
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if natija %}
                {% for tarjima in natija %}
                <tr>
                    <td>
                        {{ tarjima.ingilizcha }}
                    </td>
                    <td>
                        {{ tarjima.uzbekcha }}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    </div>
    
    
</body>
</html>